################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HospitalManagement/FileContentIndex/a4e2840c-d0bf-41a1-83cf-0eda3ade4130.vsidx
/.vs/HospitalManagement/FileContentIndex/92801873-6bd5-4475-8b5c-8c1d435bac14.vsidx
/.vs/slnx.sqlite
/.vs/HospitalManagement/FileContentIndex/ed2a997f-a0f8-4a29-8527-18567c397e5a.vsidx
/.vs/HospitalManagement/FileContentIndex
/Core/HospitalManagement.Core.Common/.vs/HospitalManagement.Core.Common
/Core/HospitalManagement.Core.Common/bin/Debug/net7.0
/Core/HospitalManagement.Core.Common/obj
/DataProvider/.vs
/DataProvider/HospitalManagement.DataProvider.Common/bin/Debug/net7.0
/DataProvider/HospitalManagement.DataProvider.Common/obj
/DataProvider/HospitalManagement.DataProvider.Server/bin/Debug/net7.0
/DataProvider/HospitalManagement.DataProvider.Server/obj
/DataProvider/HospitalManagement.Dataprovider.Services/bin/Debug/net7.0
/DataProvider/HospitalManagement.Dataprovider.Services/obj
/DataProvider/HospitalManagement.Repository/bin/Debug/net7.0
/DataProvider/HospitalManagement.Repository/obj
/WebApp/HospitalManagement/bin/Debug/net7.0
/WebApp/HospitalManagement/obj
/WebApp/HospitalManagement.Common/bin/Debug/net7.0
/WebApp/HospitalManagement.Common/obj
/WebApp/HospitalManagement.Services/bin/Debug/net7.0
/WebApp/HospitalManagement.Services/obj
