################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HospitalManagement/FileContentIndex/a4e2840c-d0bf-41a1-83cf-0eda3ade4130.vsidx
