################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HospitalManagement/FileContentIndex/a4e2840c-d0bf-41a1-83cf-0eda3ade4130.vsidx
/.vs/HospitalManagement/FileContentIndex/92801873-6bd5-4475-8b5c-8c1d435bac14.vsidx
/.vs/slnx.sqlite
/.vs/HospitalManagement/FileContentIndex/ed2a997f-a0f8-4a29-8527-18567c397e5a.vsidx
/.vs/HospitalManagement/FileContentIndex
